ul.menu > li:nth-child(3) a{
    color: var(--white-color);
}
ul.menu > li >a:hover{
    color: var(--white-color);
}


main{
    /* outline: 1px solid red; */
    max-width: 1200px;
    margin: 0 auto;
}
/* ======= top-years ======= */
.main-years{
    /* outline: 1px solid red; */
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}
.main-years a{
    display: block;
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 15px;
}
.main-years a:hover{
    color: var(--yellow-color);
}
/* =======  timeline =======  */
.timeline{
    /* outline: 1px solid green; */
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
/* line */
.timeline::before{
	content: '';
	position: absolute;
	width: 20px;
	height: 100%;
	background-color: var(--black-color);
	left: calc(50% - 10px);
}
/* items odd even*/
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
    padding-top: 30px;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-item:nth-child(odd) > h1{
	font-size: 6rem;
    position: absolute;
    right: calc(20% - 30px);
}
.timeline-item:nth-child(even) > h1{
	font-size: 6rem;
    position: absolute;
    left: calc(20% - 30px );
}
/* content */
.content{
    /* outline: 1px solid red; */
    /* background-color: var(--white-color); */
	padding: 0 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: top;
}
.timeline-item:nth-child(even) > .content{
    outline: 1px solid var(--yellow-color);
    justify-content: start;
}
.timeline-item:nth-child(odd) > .content{
    outline: 1px solid var(--black-color);
    justify-content: end;
}
.content img{
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    object-fit: cover;
    padding: 10px;
}

/* end 我沒了 */
.end{
    text-align: center;
    font-size: 1rem;
    margin: 0 0 40px;
}
.end > span{
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 0 20px;
}






/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
}